<div class="page-header d-flex align-items-end">
  <div class="container">
    <h1>FAQ</h1>
  </div>
</div>

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="faq-item classroom-1">
          <div class="faq-item--inner">
            <div class="classroom-title">
              <a href="https://app2.sli.do/event/nt20jwa3/questions" target="_blank">
                Classroom
                <span>1</span>
              </a>
            </div>
          </div>
        </div>
        <div class="faq-item classroom-2">
          <div class="faq-item--inner">
            <div class="classroom-title">
              <a href="https://app2.sli.do/event/u8bzp44y/questions" target="_blank">
                Classroom
                <span>2</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="faq-item classroom-3">
          <div class="faq-item--inner">
            <div class="classroom-title">
              <a href="https://app2.sli.do/event/lyf41c5j/questions" target="_blank">
                Classroom
                <span>3</span>
              </a>
            </div>
          </div>
        </div>
        <div class="faq-item classroom-4">
          <div class="faq-item--inner">
            <div class="classroom-title">
              <a href="https://app2.sli.do/event/6jyl6acz/questions" target="_blank">
                Classroom
                <span>4</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="faq-item classroom-5">
          <div class="faq-item--inner">
            <div class="classroom-title">
              <a href="https://app2.sli.do/event/qe8yfhtw/questions" target="_blank">
                Classroom
                <span>5</span>
              </a>
            </div>
          </div>
        </div>
        <div class="faq-item classroom-6">
          <div class="faq-item--inner">
            <div class="classroom-title">
              <a href="https://app2.sli.do/event/itlw1h4v/questions" target="_blank">
                Classroom
                <span>6</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
