<div class="home-banner banner d-flex justify-content-start align-items-center">
  <div class="container">
    <div class="banner-content">
      <h1>DevFest & BizFest 2018</h1>
      <p>George Town, December 1st, 2018</p>
      <div class="btn-wrapper d-inline-block">
        <a href="https://www.eventbrite.com/e/devfest-bizfest-george-town-2018-tickets-50944022944?aff=website"
           target="_blank"
           class="btn df-btn d-flex align-items-center">Get Your Ticket Now
          <span class="d-flex align-items-center">
          <img src="../assets/images/icon-arrow.svg" alt=""></span>
        </a>
      </div>
    </div>

    <div class="shape shape-1"><img src="../assets/images/shape-1.svg" alt=""></div>
    <div class="shape shape-2"><img src="../assets/images/shape-2.svg" alt=""></div>
    <div class="shape shape-3"><img src="../assets/images/shape-3.svg" alt=""></div>
    <div class="shape shape-4"><img src="../assets/images/shape-4.svg" alt=""></div>
    <div class="shape shape-5"><img src="../assets/images/shape-5.svg" alt=""></div>
    <div class="shape shape-6"><img src="../assets/images/shape-6.svg" alt=""></div>
    <div class="shape shape-7"><img src="../assets/images/shape-7.svg" alt=""></div>
  </div>
</div>

<div class="home-section home-intro">
  <div class="container">
    <div class="d-flex justify-content-md-between flex-wrap">
      <div class="intro-text">
        <p>The biggest Google tech & businesses conference in Penang GeorgeTown carefully crafted for you by GDG
          & GBG community!<br><br>

          All about Android, Web, business successful stories and Cloud from the world experts</p>
      </div>
      <div class="d-flex statistics-block flex-wrap">
        <div class="item">
          <h1>600</h1>
          <p>Attendees</p>
        </div>
        <div class="item">
          <h1>1</h1>
          <p>Day</p>
        </div>
        <div class="item">
          <h1>30</h1>
          <p>Sessions</p>
        </div>
        <div class="item">
          <h1>6</h1>
          <p>Tracks</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-section home-speakers">
  <div class="container text-center">
    <div class="section-title">
      <h2>Rockstar Speakers</h2>
    </div>

    <div class="home-speakers-list">
      <div class="row">
        <div class="col-6 col-lg-3 speakers-item"
             (click)="showDialog(speaker)"
             *ngFor="let speaker of speakers">
          <div class="speakers-item--inner">
            <div class="profile-image">
              <figure [ngStyle]="{ 'background-image': 'url(../assets/images/speakers/' + speaker.photo_url + ')'}"></figure>
              <!--<figure style="background-image: url('https://via.placeholder.com/250x250')"></figure>-->
            </div>
            <h3>{{speaker.name}}</h3>
            <p>{{speaker.title}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="btn df-btn df-btn-outline">
      <a routerLink="/speakers" routerLinkActive="active">See All Speakers</a>
    </div>
  </div>
</div>

<div class="home-section home-about">
  <div class="container">
    <div class="media-block">
      <div class="row">
        <div class="col-12 col-lg-5 d-lg-flex flex-lg-wrap">
          <h2 class="align-self-lg-center"><span>#</span><span>DevFest</span><span>GDay</span><span>Highlights</span></h2>
          <div class="media-item align-self-lg-end">
            <figure></figure>
          </div>
        </div>
        <div class="col-12 col-lg-7">
          <div class="row">
            <div class="col-6">
              <div class="media-item">
                <figure></figure>
              </div>
            </div>
            <div class="col-6">
              <div class="media-item">
                <figure></figure>
              </div>
            </div>
            <div class="col-6">
              <div class="media-item">
                <figure></figure>
              </div>
            </div>
            <div class="col-6">
              <div class="media-item">
                <figure></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description-block">
      <div class="row">
        <div class="col-12 col-md-3 title"><h2>Organizer</h2></div>
        <div class="col-12 col-md description">
          <p>
            Come join in the fun with hundreds of tech enthusiasts and business professionals in our annual most epic dev and biz conference up north.

            In this one day conference, we cover six tracks filled with over 25 talks and workshops by speakers from local and abroad.

            Due of last year of amazing support from all you guy we decide to maintain the awesomeness which
            mean we are continue bringing the 2 biggest flagship events powered by Google to you!<br><br>

            DevFest is a large community organised annual event with sessions & code labs for developers,
            students, startups and anyone interested to learn the latest trends and technical knowledge of
            Google platform, product APIs & open source technologies.<br><br>

            BizFest is the annual conference that aims to bring together professionals, business owners,
            entrepreneurs, startups, programmers and students to learn and share insights on innovations for
            the future. Participants will learn about how innovations have helped startups, businesses,
            communities achieve greater impact.<br><br>

            The organizing team spent delicate effort to bring to you speakers from abroad and locally, with
            more than 20 sessions to ensure maximum learning and fun!<br><br>

            Knowledge, skills, fun & swagsss, all in one day. Can you even resist it?<br><br>

            SEE YOU!
          </p>
        </div>
      </div>
    </div>
    <div class="description-block">
      <div class="row">
        <div class="col-12 col-md-3 title"><h2>What is GDG & GBG?</h2></div>
        <div class="col-12 col-md description">
          <div class="row justify-content-md-between">
            <div class="col-12 col-md-6 col-lg-5 gdg-gbg-description">
              <img src="../assets/images/logo-gdg.jpg" alt="">
              <p>Google Developers Group (GDG) - is open and volunteer geek community who create exciting projects and share experience about Google technologies with a passion.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-5 gdg-gbg-description">
              <img src="../assets/images/logo-gbg.jpg" alt="">
              <p>Google Business Group (GBG) brings context to technologies.We're a community of individuals, entrepreneurs, startups and students brought together to collaborate, network, get
                inspired and learn from industry experts on technology for driving business success.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- .home-about end -->


<div class="home-section home-tickets">
  <div class="container text-center">
    <div class="section-title">
      <h2>Tickets</h2>
    </div>
    <div class="tickets-block d-flex justify-content-center flex-wrap">
      <div class="ticket-item">
        <div class="header">
          <figure style="background-image: url('../assets/images/icon-ticket-e.svg')"></figure>
        </div>
        <div class="content">
          <div class="ticket-type">Early Bird</div>
          <div class="type-description">
            22 Oct - 1 Nov<br>
            Or first 300 tickets
          </div>
          <div class="ticket-price">RM 5</div>
          <a href="https://www.eventbrite.com/e/devfest-bizfest-george-town-2018-tickets-50944022944?aff=rm5link"
             target="_blank"
             class="btn df-btn">Get Ticket</a>
        </div>
        <div class="benefits">
          <div><span>Complimentary Lunch</span></div>
        </div>
      </div> <!-- .ticket-item end -->
      <div class="ticket-item">
        <div class="header">
          <figure style="background-image: url('../assets/images/icon-ticket-r.svg')"></figure>
        </div>
        <div class="content">
          <div class="ticket-type">Regular</div>
          <div class="type-description">
            2 Nov - 1 Dec<br>
            Or until sold out
          </div>
          <div class="ticket-price">RM 10</div>
          <a href="https://www.eventbrite.com/e/devfest-bizfest-george-town-2018-tickets-50944022944?aff=rm10link"
             target="_blank"
             class="btn df-btn df-btn-outline">Get Ticket</a>
        </div>
        <div class="benefits">
          <div><span>Complimentary Lunch</span></div>
        </div>
      </div> <!-- .ticket-item end -->
    </div>

    <p>*Tickets grant access to all conference sections.</p>
  </div>
</div> <!-- .home-ticket end -->

<app-partners></app-partners>
