<div class="banner d-flex justify-content-start align-items-center">
  <p>DevFest & BizFest 2018</p>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4">
      <p class="text-center">Speaker list</p>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <img src="https://via.placeholder.com/250x250" alt="">
      <p>Vin Lim</p>
    </div>
    <div class="col-3">
      <img src="https://via.placeholder.com/250x250" alt="">
      <p>Jirawatee</p>
    </div>
    <div class="col-3">
      <img src="https://via.placeholder.com/250x250" alt="">
      <p>Jason Seah</p>
    </div>
    <div class="col-3">
      <img src="https://via.placeholder.com/250x250" alt="">
      <p>JC Tan</p>
    </div>
  </div>
</div>
