<div class="page-header d-flex align-items-end">
    <div class="container">
        <h1>Attending</h1>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="event">
            <div class="row attending-item">
                <div class="col-12 col-md-3">
                    <h2>What to expect and explore</h2>
                </div>
                <div class="col-12 col-md">
                    <p><strong>Meals</strong></p>
                    <p>Attendees are offered complimentary breakfast, lunch. Check out the food menu below.</p>
                    <div class="food-menu">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="food-menu-block">
                                    <div class="food-menu-block-inner">
                                        <p class="title">Breakfast</p>
                                        <div class="food-menu-section">
                                            <p><strong>Non-Vegetarian</strong></p>
                                            <ul class="list-unstyled">
                                                <li>Sandwiches</li>
                                                <li>Curry Samosa</li>
                                            </ul>
                                        </div>
                                        <div class="food-menu-section">
                                            <p><strong>Drinks</strong></p>
                                            <ul class="list-unstyled">
                                                <li>Kopi-o</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="food-menu-block">
                                    <div class="food-menu-block-inner">
                                        <p class="title">Lunch</p>
                                        <div class="food-menu-section">
                                            <p><strong>Non-Vegetarian</strong></p>
                                            <ul class="list-unstyled">
                                                <li>Fried Bihun with chicken</li>
                                                <li>Nasi Tomato</li>
                                                <li>Ayam Masak Merah</li>
                                                <li>Braised Assorted Mushroom with Broccoli</li>
                                                <li>Fried Sausage & Chicken nuggets</li>
                                                <li>Deep Fried Stuff Prawns with Salad</li>
                                                <li>Ebiko Temaki</li>
                                                <li>Cream Puff</li>
                                                <li>Fruit Plate</li>
                                            </ul>
                                        </div>
                                        <div class="food-menu-section">
                                            <p><strong>Drinks</strong></p>
                                            <ul class="list-unstyled">
                                                <li>Longan Jelly with Soya Bean</li>
                                                <li>Ice Cool Orange</li>
                                            </ul>
                                        </div>
                                        <div class="food-menu-section">
                                            <p><strong>* Vegetarian bento will be provided</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- .attending-item -->
        </div>
        <div class="event">
            <div class="row attending-item">
                <div class="col-12 col-md-3">
                    <h2>Getting to TARC</h2>
                </div>
                <div class="col-12 col-md">
                    <p>Plan ahead, expect traffic delays, be patient, and consider carpooling.</p>
                    <p><strong>Get transportation directions:</strong></p>
                    <div class="download-buttons">
                        <a href="">
                            Google Map
                        </a>
                        <a href="">
                            Waze
                        </a>
                    </div>
                </div>
            </div> <!-- .attending-item -->
            <div class="row attending-item">
                <div class="col-12 col-md-3">
                    <h2>Ridesharing</h2>
                </div>
                <div class="col-12 col-md">
                    <p><strong>Download the Grab app from</strong></p>
                    <div class="download-buttons">
                        <a href="" class="btn-download">
                            <img src="../assets/images/download-google.png" alt="Google Play">
                        </a>
                        <a href="" class="btn-download">
                            <img src="../assets/images/download-apple.png" alt="App Store">
                        </a>
                    </div>
                </div>
            </div> <!-- .attending-item -->
            <div class="row attending-item">
                <div class="col-12 col-md-3">
                    <h2>Parking</h2>
                </div>
                <div class="col-12 col-md">
                    <p>Limited parking is available at TARC.</p>
                    <figure><img src="" alt=""></figure>
                </div>
            </div> <!-- .attending-item -->
        </div>
    </div>
</div>
