<footer>
  <div class="container">
    <div class="sns">
      <div class="row">
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-between justify-content-md-start sns-block">
          <figure class="ft-logo"><img src="../assets/images/ft-gdg.svg" alt=""></figure>
          <div class="sns-link">
            <ul class="list-unstyled m-0">
              <!--<li><a href=""><img src="../assets/images/ft-icon-google.svg" alt=""></a></li>-->
              <li><a href="https://www.facebook.com/gdggeorgetown/"><img src="../assets/images/ft-icon-facebook.svg" alt=""></a></li>
              <li><a href=""><img src="../assets/images/ft-icon-mail.svg" alt=""></a></li>
            </ul>
          </div>
        </div> <!-- .sns-block end -->
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-between justify-content-md-start sns-block">
          <figure class="ft-logo"><img src="../assets/images/ft-gbg.svg" alt=""></figure>
          <div class="sns-link">
            <ul class="list-unstyled m-0">
              <li><a href="https://www.facebook.com/gbggeorgetown"><img src="../assets/images/ft-icon-facebook.svg" alt=""></a></li>
              <li><a href=""><img src="../assets/images/ft-icon-mail.svg" alt=""></a></li>
            </ul>
          </div>
        </div> <!-- .sns-block end -->
      </div>
    </div> <!-- .sns end -->

    <div class="ft-nav">
      <div class="row">
        <div class="col-12 col-md ft-link">
          <div class="row">
            <div class="col-12 col-lg ft-link-block">
              <div class="ft-link-header">
                Explore Past DevFests
              </div>
              <ul class="list-unstyled">
                <li><a href="http://devfest2014.gdggeorgetown.com/">GDG DevFest GeorgeTown 2014</a></li>
                <li><a href="http://devfest2015.gdggeorgetown.com/">GDG DevFest GeorgeTown 2015</a></li>
                <li><a href="http://devfest2016.gdggeorgetown.com/">GDG DevFest GeorgeTown 2016</a></li>
                <li><a href="http://devfest2017.gdggeorgetown.com/">GDG DevFest GeorgeTown 2017</a></li>
              </ul>
            </div> <!-- .ft-link-block end -->
            <div class="col-12 col-lg ft-link-block">
              <div class="ft-link-header">
                For Visitors
              </div>
              <ul class="list-unstyled">
                <li><a href="">Schedule</a></li>
                <li><a href="">Speakers</a></li>
                <li><a href="">Attending</a></li>
                <li><a href="">Decks</a></li>
              </ul>
            </div> <!-- .ft-link-block end -->
          </div>
        </div> <!-- .ft-link end -->
        <div class="col-12 col-md ft-newsletter">
          <div class="ft-newsletter-header">No spam, only the latest news and updates!</div>
          <div class="newsletter-input">
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Your email" required>
            <button class="btn df-btn">Subscribe</button>
          </div>
        </div> <!-- .ft-newsletter end -->
      </div>
    </div> <!-- ft-nav end -->

    <div class="ft-copyright">
      <div class="d-flex align-items-end justify-content-between">
        <div class="copyright">© 2018. GDG DevFest + Gday is a community event that offer sessions & code labs across different Google Developer platforms, product APIs & open source technologies.
        </div>
        <div class="backtotop">
          <p>Back to top</p>
        </div>
      </div>
    </div>
  </div>
</footer>
