.speakers-list {
  .speakers-item {
    text-align: center;
    margin-bottom: 50px;
  }
}
.profile-image {
  max-width: 150px;
  margin-bottom: 20px;
}
.bio {
  padding: 20px;
  p {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}