<div class="partner-section">
  <div class="container">
    <h2>Made Possible by</h2>
    <div class="partner-block">
      <h5>Partner With</h5>
      <div class="logo-wrapper d-flex flex-wrap">
        <a href="https://www.tarc.edu.my/penang/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/logo-taruc.jpg" alt="">
        </a>
      </div>
    </div> <!-- .partner-block end -->
    <div class="partner-block">
      <h5>Sponsors</h5>
      <div class="logo-wrapper d-flex flex-wrap">
        <a href="https://www.google.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/google.svg" alt="">
        </a>
        <a href="http://emanon.com.my/#!/page_HOME" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/emanon.svg" alt="">
        </a>
        <a href="https://greenroom.com.my/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/greenroom.svg" alt="">
        </a>
      </div>
    </div> <!-- .partner-block end -->
    <div class="partner-block">
      <h5>Partners</h5>
      <div class="logo-wrapper d-flex flex-wrap">
        <a href="https://www.jetbrains.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/jetbrains.png" alt="">
        </a>
        <a href="https://acatpenang.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/logo-acat.png" alt="">
        </a>
        <a href="https://greenroom.com.my/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/the-settlements.png" alt="">
        </a>
        <a href="https://greenroom.com.my/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/scoopoint.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
