<div class="partner-section">
  <div class="container">
    <h2>Made Possible by</h2>
    <div class="partner-block">
      <h5>Partner With</h5>
      <div class="logo-wrapper d-flex flex-wrap">
        <a href="https://www.google.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/google.svg" alt="">
        </a>
        <a href="https://www.tarc.edu.my/penang/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/logo-taruc.jpg" alt="">
        </a>
      </div>
    </div> <!-- .partner-block end -->
    <div class="partner-block">
      <h5>Anchor Sponsors</h5>
      <div class="logo-wrapper d-flex flex-wrap">
        <a href="https://mymagic.my/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/magic.svg" alt="">
        </a>
        <a href="https://www.acer.com/ac/en/US/content/home" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/acer.png" alt="">
        </a>
        <a href="http://emanon.com.my/#!/page_HOME" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/emanon.svg" alt="">
        </a>
        <a href="https://greenroom.com.my/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/greenroom.svg" alt="">
        </a>
      </div>
    </div>

    <div class="partner-block">
      <h5>Community Partners</h5>
      <div class="logo-wrapper d-flex flex-wrap">
        <a href="https://www.jetbrains.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/jetbrains.png" alt="">
        </a>
        <a href="https://acatpenang.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/logo-acat.png" alt="">
        </a>
        <a href="http://settlements.work/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/the-settlements.png" alt="">
        </a>
        <a href="https://www.grab.com/my/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/grab.png" alt="">
        </a>
        <a href="https://www.exabytes.my/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/exabytes.png" alt="">
        </a>
        <a href="https://www.scoopoint.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/scoopoint.png" alt="">
        </a>
        <a href="https://www.womenwill.com/#!?modal_active=none" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/womenwill.png" alt="">
        </a>
        <a href="https://www.info-trek.com/?fbclid=iwar07gifkxtdviudlbxaernfxyzj6tju6r-ws0hnrqqcholab1hxd9nbccxc" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/trek.png" alt="">
        </a>
        <a href="https://www.pscpen.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="../assets/images/partner/psc.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
