.partner-section {
  padding: 100px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#171947+0,000000+100 */
  background: #171947; /* Old browsers */
  background: -moz-linear-gradient(top, #171947 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #171947 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #171947 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171947', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.partner-block {
  padding-top: 40px;
  h5 {
    margin-bottom: 20px;
  }

  .logo-item {
    padding: 24px;
    max-width: 150px;
    img {
      width: 100%;
    }
  }
}