.banner-speaker {
  height: 450px;
}

.plus-title small:nth-child(1) {
  position: relative;
  top: -20px;
  font-size: 28px;
}

.plus-title span {
  font-size: 16px;
  left: -22px;
  position: relative;
}
