<div class="page-header d-flex align-items-end">
  <div class="container">
    <h1>Schedule</h1>
  </div>
</div>

<div class="container-fluid site-container schedule-wrapper">
  <div class="row schedule-section" *ngFor="let data of schedule">
    <div class="schedule-time">
      <span class="hours">{{data.id.substring(0, 2)}}</span>
      <span class="minutes">{{data.id.substring(2)}}</span>
    </div>

    <div class="schedule row m-0">
      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between"
           *ngFor="let course of data.courses">
        <div class="schedule-details">
          <h4>{{ (course | async)?.name }}</h4>
          <div class="schedule-meta d-flex d-lg-block flex-wrap">
            <div class="hrs">{{(course | async)?.length}} / Registration Area</div>
            <div class="tag">
              <!--<span class="dot dot-red"></span>-->
              <span>{{ (course | async)?.type }}</span>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>
          <span>Vin Lim</span>
        </div>
      </div>
    </div>
  </div>
</div>
