<div class="d-flex site-banner justify-content-start align-items-center">
  <h2 class="text-white">Schedule</h2>
</div>

<div class="container-fluid site-container">
  <div class="row border-bottom border-top">
    <div style="width: 77px;" class="pr-2 border-right">
      <div class="d-flex justify-content-end flex-wrap py-2">
        <h3 class="mb-0 pb-0 w-100 text-right">09</h3>
        <p>00</p>
      </div>
    </div>

    <div class="col" class="p-3">
      <h6>Registration & morning Coffee</h6>
      <p class="mb-0">1 Hour / Registration Area</p>
    </div>
  </div>

  <div class="row border-bottom">
    <div style="width: 77px;" class="pr-2 border-right">
      <div class="d-flex justify-content-end flex-wrap">
        <h3 class="mb-0 pb-0 w-100 text-right">09</h3>
        <p>00</p>
      </div>
    </div>

    <div class="col p-3">
      <h4>What's New in Firebase 2017 and Cloud Firestore code lab</h4>
      <p >1 Hour / Hall 1</p>
      <p><span class="dot dot-red"></span> Firebase</p>
    </div>

    <div class="col p-3">
      <h4>Image Classification with Deep Learning</h4>
      <p class="mb-0">1 Hour / Hall 1</p>
      <p><span class="dot dot-yellow"></span> Machine Learning</p>
    </div>

    <div class="col p-3">
      <h4>Winning the Shift to Mobile with Micro-moments of Consumer Journey</h4>
      <p class="mb-0">1 Hour / Hall 1</p>
      <p><span class="dot dot-purple"></span> Machine Learning</p>
    </div>

    <div class="col p-3">
      <h4>Imaging styling with Web Worker and Polymer 3.0</h4>
      <p class="mb-0">1 Hour / Hall 1</p>
      <p><span class="dot dot-blue"></span> Machine Learning</p>
    </div>

    <div class="col p-3">
      <h4>Registration & morning Coffee</h4>
      <p>1 Hour / Registration Area</p>
      <p><span class="dot dot-light-purple"></span> Machine Learning</p>
    </div>

    <div class="col p-3">
      <h4>Registration & morning Coffee</h4>
      <p>1 Hour / Registration Area</p>
      <p><span class="dot dot-green"></span> Machine Learning</p>
    </div>
  </div>
</div>


