<div class="d-flex banner-speaker justify-content-start align-items-center">
    <h2 class="text-white">Schedule</h2>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <h1 class="plus-title">
        <small>09</small>
        <span>00</span></h1>
    </div>

    <div class="col-8">
      <p>09 00</p>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-3">
    <p>Vin Lim</p>
  </div>
  <div class="col-3">
    <p>Jirawatee</p>
  </div>
  <div class="col-3">
    <p>Jason Seah</p>
  </div>
  <div class="col-3">
    <p>JC Tan</p>
  </div>
</div>

