@import "../../styling/variables";

.schedule-wrapper {
  background: #fff;
  color: #161845;
}
.schedule {
  flex: 1;
  h4 {
    margin: 0 0 10px;
  }
}

.profile-image {
  width: 100%;
  max-width: 40px;
  margin: 0 15px 0 0;
  @include border-radius(50%);
  overflow: hidden;

  figure {
    width: 100%;
    margin: 0;
    padding-top: 100%;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}


.schedule-time {
  text-align: right;
  padding: 30px;
  padding-left: 0;
  width: 100px;
  span {
    display: block;
    line-height: 1;
    &.hours {
      font-size: 3.6rem;
    }
    &.minutes {
      font-size: 2.4rem;
      color: #4e507c;
    }
  }
}
@media (min-width: 768px) {
  .schedule-time {
    width: 120px;
  }
}
.site-container {
  background: #fff;
  h1, h2, h3, h4, h5, h6, p {
  color: #161845;
  }
}
//
//.border-right {
//  border-right: 1px solid #dee2e6 !important;
//}
//
//.time-w {
//  width: 77px;
//  padding-top: 5px;
//}
//
//.hrs, .title {
//  font-size: 12px;
//  color: #212529;
//}
//
//.slot:hover {
//  background: #f5f5f5;
//  cursor: pointer;
//}
//
//.slot {
//  //display: flex;
//  //flex-wrap: wrap;
//
//}
//
//.speaker-name {
//  align-self: flex-end;
//}
//
//.title-name {
//  height: 70vh;
//}
