<div class="bg-pattern">
    <!--<h2 mat-dialog-title>{{data.name}}</h2>-->
    <div class="speaker-name pb-3">
      <div class="speaker-info">
        <img src="https://dummyimage.com/50x50/bababa/fff" alt="img" class="speaker-img">
        <h5 mat-dialog-title class="align-self-center mb-0 pl-4">{{data.name}} <br> <span>{{data.background}}</span></h5>
      </div>
    </div>

    <hr class="w-100">

    <div mat-dialog-content class="mt-3">
      <p class="pt-3">10:00AM - 10:45AM, Hall A (JC 1)</p>
      <p class="title"><span class="dot dot-purple"></span> Machine Learning</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
      <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
      justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. </p>
    </div>
</div>
