@import "../../../styling/variables";

.dialog-container {
  width: 100%;
  max-width: 584px;
  margin: 0 auto;
  padding: 24px;
}

.dialog-header {
  position: relative;
  background: $bg-color;
  color: #fff;
  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/assets/images/pattern-35px.png');
    opacity: 0.05;
    -webkit-animation: slide 50s linear infinite;
    animation: slide 50s linear infinite;
  }
  & > * {
    min-height: 160px;
    position: relative;
    z-index: 1;
  }
}

.profile-image {
  width: 100%;
  max-width: 100px;
  margin: 0;
  margin-right: 20px;
  @include border-radius(50%);
  overflow: hidden;

  figure {
    width: 100%;
    margin: 0;
    padding-top: 100%;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.dialog-content {
  background: #fff;
  overflow-y: auto;

  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;

  min-height: 300px;
  max-height: 50vh;
}

.ref {
  padding-top: 30px;
  margin-top: 40px;
  border-top: 1px solid #ededed;
  h5 {
    margin-bottom: 10px;
  }
  .ref-item + .ref-item {
    margin-top: 10px;
  }
  .title {
    font-size: 1.4rem;
  }
  .schedule-meta {
    padding-top: 2px;
    & > * {
      padding-right: 20px;
      &:last-child {
        padding: 0;
        padding-right: 0;
      }
    }
  }
}